@tailwind base;
@tailwind components;
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
}

body {
  background: rgb(30, 30, 30);
  color: white;
  overflow: hidden;
  overflow-y: scroll;
  font-family: 'Poppins', sans-serif;
}
nav{
    background: rgb(30, 30, 30);
}

/* Custom CSS for a custom shadow color */
.custom-shadow-indigo {
  box-shadow: 0 8px 15px -5px rgba(75, 0, 130, 0.5),
    0 4px 10px -3px rgba(75, 0, 130, 0.3);
}

/* Custom CSS for gradient text */
.custom-gradient-text {
  background: linear-gradient(
    45deg,
    rgb(169, 50, 210),
    rgb(110, 50, 207),
    rgb(57, 50, 187)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.active{
  color: rgb(128, 43, 226);
  border-bottom: 0.5rch;
  border-bottom: 3px solid rgba(111, 0, 128, 0.498);
}
/* Marquee container */
.marquee-container {
  height: 55px;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.413);
  padding: 10px 0;
}

/* Marquee text */
.marquee-text {
  display: inline-block;
  width: 700px;
  white-space: nowrap;
  color: blueviolet;
  animation: marquee 30s linear infinite;
}

/* Keyframes for marquee effect */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}



.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-button {
  position: absolute;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #404040b2;
}

.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  padding-left: 20px;
  display: none;
}

.slider-wrapper .slide-button#next-slide {
  right: -25px;
  padding-right: 20px;
  top: 0%;
}
.slider-wrapper .image-list {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  gap: 18px;
  scrollbar-width: none;
  overflow-x: auto;
  list-style: none;
  /* font-size: 0; */
  /* list-style: none; */
  /* margin-bottom: 30px;*/
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}

.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }

  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }

  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
    color: rgba(0, 0, 0, 0.155);
  }
}

